.containerBtn {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: #BD000B;
    cursor: pointer;
}

.containerBtn>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 100%;
    border-radius: 10px;
    background-color: #FF000A;
}

.containerBtn>div>p {
    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 41px;
    color: #FFFFFF;
}