.event {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 72px 68px 20px 68px;
    box-sizing: border-box;
    z-index: 9;
}

.event>.content {
    width: 100%;
    height: 100%;
    /* border-radius: 0px 0px 36px 36px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.content > h1 {
    position: relative;
    z-index: 20;
    font-family: 'iCiel Koni';
    font-style: normal;
    width: fit-content;
    font-weight: 900;
    font-size: 46px;
    line-height: 100px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.previousBtn {
    position: relative;
    width: 53px;
    height: 56px;
    background-image: url('../../assets/images/previous\ btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 20;
}

.nextBtn {
    position: relative;
    width: 53px;
    height: 56px;
    background-image: url('../../assets/images/next\ btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 20;
}

.list {
    width: 85%;
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.card {
    position: relative;
    width: 227px;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
    border-radius: 20px;
    z-index: 20;
}

.card>img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* height: 45%; */
}

.card>div>p {
    margin: 0;
}

.card>div {
    padding-left: 5%;
    padding-bottom: 9%;
    box-sizing: border-box;
}

.textTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #23221F;
}

.textPlace {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #6C7272;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time>p {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
}

.prize {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: 0.005em;
    color: #FA7D09;
}

.detailBtn {
    width: 200px;
    height: 40px;
    /* filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
    background-color: #FF000A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer; */
}

.detailBtn>p {
    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
}


.frameOne {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70%;
    background-image: url('../../assets/images/FrameSukien.svg');
    /* background-repeat: no-repeat; */
    background-size: contain;
    z-index: 10;
}

.decorativeWireLeft {
    position: absolute;
    width: 535px;
    height: 213px;
    left: -54px;
    top: 0;
    background-image: url('../../assets/images/eventDecoLeft.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
}

.decorativeWireRight {
    position: absolute;
    width: 579px;
    height: 286px;
    right: -194px;
    top: -58px;
    background-image: url('../../assets//images//eventDecoRight.svg');
    transform: rotate(9.58deg);
    z-index: 11;
}

.sliderList{
    width: 100%;
    height: 100%;
    z-index: 20;
}